@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.left-login {
    background: url('./img/Form.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.right-home {
    /* background: url('./img/Tasks.svg'); */
}

.center-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}